# Runtime Requirements
# pinned so the bot can create PRs to test with new versions


## extras_require
### cli
typer==0.7.0
rich==13.3.4


# Development

## deployment
pip>=19.2.3
wheel>=0.33.6

## quality asurence
black>=19.10b0
flake8>=3.8.0
isort>=5.2.2
pre-commit>=2.10.0
pydocstyle>=5.0.2

## docs requirements
-r docs/requirements.txt

## test requirements
coverage>=4.5.1
pytest>=4.0.0
pytest-cov>=2.5.1
pytest-env>=0.6.2
tox>=3.5.2
