# Runtime Requirements
# pinned so the bot can create PRs to test with new versions

## install_requires
importlib_metadata==3.4.0;python_version < '3.8'

## extras_require
### cli
typer==0.4.0
rich==10.9.0


# Development

## deployment
pip>=19.2.3
wheel>=0.33.6

## quality asurence
black>=19.10b0
flake8>=3.8.0
isort>=5.2.2
pre-commit>=2.10.0
pydocstyle>=5.0.2

## docs requirements
-r docs/requirements.txt

## test requirements
coverage>=4.5.1
pytest>=4.0.0
pytest-cov>=2.5.1
tox>=3.5.2

### dummy distributions for testing
git+https://github.com/s-weigand/git-install-test-distribution.git
-e tests/dummy_packages/editable_install_setup_cfg
-e tests/dummy_packages/editable_install_setup_py
-e tests/dummy_packages/editable_install_src_pattern
-e tests/dummy_packages/editable_install_with_dotgit
tests/dummy_packages/local_install
tests/dummy_packages/local_install_src_pattern
tests/dummy_packages/local_install_with_dotgit
https://github.com/s-weigand/tarball-test-distribution/archive/main.zip
